/* src/components/Header.css */

:root {
  --nav-bg: #8e8e8eb5;
  --nav-link: #000000;
  --menu-color: #222;
}

body.dark-mode {
  --nav-bg: #edededb5;
  --nav-link: #161616;
  --menu-color: #ffffff;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor interior */
.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Logo */
.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

/*Nav general con variables*/
.nav {
  background-color: var(--nav-bg);
  padding: 0.8rem 2rem;
  border-radius: 50px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex: 1;
  flex-direction: row;
  align-items: center;
  width: auto;
  z-index: 1001;
  position: relative;
}

.nav a {
  position: relative;
  color: var(--nav-link);
  text-decoration: none;
  font-size: 1rem;
  transition: text-shadow 0.3s ease, color 0.3s ease;
  align-items: center;
}

.nav a:hover {
  color: #ffa500;
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.9),
    0 0 10px rgba(214, 214, 214, 0.7),
    0 0 15px rgb(255, 255, 255);
}

/* Búsqueda */
.search-container {
  position: relative;
}

.search-input {
  padding: 0.4rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
  width: 180px;
}

.search-input:focus {
  border-color: #ffa500;
}

/*Botón Light y Dark*/
.toggle-btn {
  right: 2rem;
  background-color: var(--nav-bg);
  color: var(--nav-link);
  border: none;
  border-radius: 100%;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 25px;
}

.toggle-btn:hover {
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.9),
    0 0 10px rgba(214, 214, 214, 0.7),
    0 0 15px rgb(255, 255, 255);
}

/* Botón de menú hamburguesa */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: var(--menu-color);
  z-index: 1002;
  position: relative;
}

/* Responsivo */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
  }

  .menu-toggle {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--nav-bg);
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
  }

  .nav.activo {
    display: flex;
  }

  .search-container {
    width: 100%;
    margin-top: 0.5rem;
    justify-content: center;
  }

  .search-input {
    width: 80%;
  }

  .toggle-btn {
    align-self: flex-end;
  }
}
